.card {
	width: 400px;
	height: 350px;
	background-color: #f9f9f9;
	border-radius: 30px;
	cursor: pointer;

	.image {
		width: 300px;
		transition: transform 0.5s ease-out;
		padding-top: 30px;
		border-radius: 50px;
		cursor: pointer;

		&:hover {
			transform: scale(1.1);
		}
	}
}